//
//  Layout -> Footer 
// --------------------------------------------------
.backend-page-footer {
  background-color: $white;
  color: $grey;
  padding: 1.25rem 2.5rem;
  text-align: right;
  letter-spacing: 1px;
}
