.t-teacher-page {
  padding: 2rem 0 12rem;
}

.mask.mask-brand-wda-logo-backgrounds.brand-wda-logo-backgrounds {
  position: absolute;
  bottom: -20%;
  top: auto;
  left: auto;
  right: -20%;
  width: 60%;
  transform: rotate(-15deg);
  opacity: 0.16;
  pointer-events: none;
}

.t-wrapper-inner {
  position: relative;

  > * {
    position: relative;
  }

  .t-info-item {
    &[data-profile="academic_info"] {
      .t-panel-main {
        flex-direction: row;

        @include sm {
          flex-direction: column;
          justify-content: center;
          align-items: center;

          .t-panel-item-img-container {
            width: auto;
          }

          .t-panel-item-cnt {
            padding-top: 1rem;
            padding-left: 0;
            width: auto;
          }
        }
      }
    }
  }

  .t-panel-main {
    position: relative;
    overflow: hidden;
  }

  .t-panel-title {
    @include stroke(1.5px);

    font-size: 1.5rem;

    @include titleComic($info-200);

    letter-spacing: .25rem;
  }

  .t-panel-sub-title {
    @include stroke(1px);
    @include titleComic($grey-200);
  }

  // .t-info-item {
  //   [data-profile="academic_info"] {
  //     @include sm {
  //       .t-panel-main {
  //         flex-direction: column;
  //         justify-content: center;
  //         align-items: center;

  //         .t-panel-item-img-container {
  //           width: auto;
  //         }

  //         .t-panel-item-cnt {
  //           padding-left: 0;
  //         }
  //       }
  //     }
  //   }
  // }

  .t-info-item {
    &:not(:last-child) {
      margin-bottom: 2rem;
    }
  }

  .t-form-legend-info {
    position: absolute;
    right: 0;
    top: -2.5rem;
    z-index: 9;
    font-size: 2rem;
    padding:0.5rem 2.5rem 0.5rem 1.5rem;
    float: none;
    width: auto;
    font-weight: 700;
    color: $white;
    text-shadow: custome-box-shadow-r(12, 0.5, $info-900);

    @include stroke(0.5px, $dark);

    clip-path: path("m21 0 157 3a5 5 0 012 1 4 4 0 012 2 5 5 0 011 2 7 7 0 010 3l-14 43a9 9 0 01-1 3 11 11 0 01-2 2 10 10 0 01-2 1 7 7 0 01-3 1L6 62a7 7 0 01-3-1 6 6 0 01-2-2A5 5 0 010 58a6 6 0 010-3L11 8a9 9 0 011-3 10 10 0 012-2 11 11 0 013-2 9 9 0 013-1");
    background-color: $info;
    z-index: 1;

    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;

      // background-color: $white;
      width: 100%;
      height: 100%;
      background-image: $background-noise;
      background-size: 66%;
      z-index: -1;
    }

    h3 {
      letter-spacing: 1px;
    }
  }

  .t-panel-title {
    &:first-letter {
      font-size: 150%;
      color: $primary-600;
    }
  }
}