@charset "utf-8";

//  Mixins > Text shadow
// –––––––––––––––––––––––––––––––––––––––––––––––––––––––––

// @include text-shadow-v1($shadow: $white);
@mixin text-shadow-v1($shadow: $white) {
  text-shadow:
    $shadow 0.075em 0 0,
    $shadow 0 0.075em 0,
    $shadow 0 -0.075em 0,
    $shadow -0.075em 0 0,
    $shadow -0.075em -0.075em 0,
    $shadow 0.075em -0.075em 0,
    $shadow 0.075em 0.075em 0,
    $shadow -0.075em 0.075em 0;
}

// @include text-shadow-v2($white, $dark)
@mixin text-shadow-v2($shadow-1: $white, $shadow-2: $dark) {

  text-shadow:
    1px 1px 0 $shadow-1,
    2px 2px 0 $shadow-2,
    3px 3px 0 $shadow-1,
    // 4px 4px 0 $shadow-2,
}

// @include text-shadow-v3( 2px,2px,2px,rgba(0,0,0,.25));
// @include text-shadow-v3(-1px,-2px,3px,#00FFFF, 1px,2px,3px,#0080FF);
// @include text-shadow-v3(2px, 2px, 2px, $secondary, -2px, -2px, 2px, $primary);
@mixin text-shadow-v3($x1: 2px,
$y1: 2px,
$blur1: 6px,
$color1:$secondary,
$x2: -2px,
$y2: -2px,
$blur2: -6px,
$color2: $primary) {
  font-weight: 700;

  @if $x2 {
    text-shadow: $x1 $y1 $blur1 $color1,
      $x2 $y2 $blur2 $color2;
  }

  @else {
    text-shadow: $x1 $y1 $blur1 $color1;
  }
}

// @include text-shaded($size: 1px, $shadow: $primary ,$through: 10);
@mixin text-shaded($size: 1px, $shadow: $primary, $through: 10) {
  font-weight: 700;

  // --shadow-color: $color;
  $value: ();

  @for $i from 1 through $through {
    $num: $i * $size;
    $theShadow: #{-$num} $num $shadow;
    $value: append($value, $theShadow, comma);
  }

  text-shadow: $value;
}

// @include shade(text, #aaa, #333, 10, 135deg, true);
@mixin shade($type, $color: #3498db, $borderColor: $white, $depth: 20, $angle: 135deg, $long: false, $fade: false) {
  $angle: $angle - 90;
  $x: 1.1 * cos($angle) + 0px;
  $y: 1.1 * sin($angle) + 0px;
  $darken: lightness($color) / $depth / 2;
  $opacify: 0;
  $shadow: ();

  @if $long==true {
    $darken: 0;
  }

  @if $fade==true {
    $opacify: opacity($color) / $depth;

    // added this for rendering in some browsers, remove if you like.
    @include translateZ(0);
  }

  @for $i from 1 through $depth {
    $shadow: $shadow, ($i * $x) ($i * $y) 0 hsla(hue($color), saturation($color), lightness($color) - $i * $darken, 1 - $i * $opacify);
  }

  #{$type}-shadow: 1.5px 1.5px 0 $borderColor,
  0px 1.5px 0 $borderColor,
  -1.5px -1.5px 0 $borderColor,
  -1.5px -1.5px 0 $borderColor,
  -1.5px 1.5px 0 $borderColor,
  1.5px -1.5px 0 $borderColor,
  $shadow;
}

// @include outline($color: $white,$outline: 0.125rem);
@mixin outline($color: $white, $outline: 0.125rem) {
  text-shadow: #{$outline} #{$outline} 0 $color,
  -#{$outline} -#{$outline} 0 $color,
  -#{$outline} -#{$outline} 0 $color,
  -#{$outline} #{$outline} 0 $color,
  #{$outline} -#{$outline} 0 $color;
}

;

// @include text-shaded(4rem, 900,$white, $dark);

@mixin text-cartoon($font-size: 7.5rem,
$font-weight: 900,
$color: $white,
$shadow-color: $grey-800) {

  $size: #{$font-size / 20};
  $through: 18;

  font-weight: $font-weight;
  font-size: $font-size;
  color: $color;
  text-shadow: -#{$size} 0 $shadow-color,
  0 -#{$size} $shadow-color,
  #{$size} 0 $shadow-color,
  0 #{$size} $shadow-color,
  -#{$size} -#{$size} 0 $shadow-color,
  -#{$size} #{$size} 0 $shadow-color,
  #{$size} -#{$size} 0 $shadow-color,
  #{$size} #{$size} 0 $shadow-color,
  -#{$size} #{$size * 3} 0 $shadow-color,
  0 #{$size * 3} 0 $shadow-color,
  #{$size} #{$size * 3} 0 $shadow-color,
  0 #{$size + 0.625} #{$size / 6} rgba($dark, .10),
  0 0 #{$size} rgba($dark, .10),
  0 #{$size} #{$size * 2} rgba($dark, .30),
  0 #{$size * 2} #{$size} rgba($dark, .20),
  0 #{$size * 3} #{$size * 3} rgba($dark, .25),
  0 #{$size * 4} #{$size * 4} rgba($dark, .20),
  0 #{$size * 6} #{$size * 6} rgba($dark, .15)
}

;





// .t-text-cartoon {
//   @include text-cartoon(
//     $font-size: 4rem,
//     $font-weight: 900,
//     $color: #fff,
//     $shadow-color: #000
//   );
// }

// .t-text-cartoon-2 {
//   @include text-cartoon(
//     $font-size: 3.5rem,
//     $font-weight: 900,
//     $color: #f7d9e3,
//     $shadow-color: #884c5e
//   );
// }

// .t-text-shadow-v1 {
//   font-size: 3.5rem;
//   color: #000;
//   @include text-shadow-v1($shadow: $primary);
// }

// .t-text-shadow-v2 {
//   font-size: 3.5rem;
//   @include text-shadow-v2($shadow: $white, $shadow2: $dark);
// }

// .t-text-shaded {
//   font-size: 3.5rem;

//   @include text-shaded($size: 1px, $shadow: $primary, $through: 10);
// }
// .t-text-shadow-v3 {
//   font-size: 3.5rem;
//   @include text-shadow-v3(2px, 2px, 2px, rgba(0, 0, 0, 0.25));
//   @include text-shadow-v3(-1px, -2px, 3px, #00ffff, 1px, 2px, 3px, #0080ff);
//   @include text-shadow-v3(2px, 2px, 2px, $secondary, -2px, -2px, 2px, $primary);
// }

// .t-shade {
//   font-size: 3.5rem;
//   @include shade(text, #aaa, #333, 10, 135deg, true);
// }
// .t-outline {
//   font-size: 5rem;
//   @include outline(rgba($dark, 0.66), 0.125rem);
// }