@charset "utf-8";

//  Symbols -> Cards
// --------------------------------------------------

.t-card-title {
  position: relative;
  margin-bottom: 0.875rem;
  font-weight: 700;
  font-size: 125%;
  display: flex;
  transition: $transition-base;

  @include hover {
    font-size: 127.5%;
    text-decoration: none;
    background-size: 200% .125rem;
  }
}

.t-card-glass {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(132deg, tgba($primary-50, 0.66) 0%, rgba($primary-25, 0.88) 99.25%);
  text-align: center;
  border-radius: 1rem;
  padding: 1.25rem;

  &::before {
    position: absolute;
    content: "";
    top: -2px;
    bottom: -2px;
    left: -2px;
    right: -2px;
    background-image: linear-gradient(312.25deg, $primary-200 0%, rgba($white, 0) 66.25%);
    z-index: -1;
    border-radius: 1.125rem;
  }

  .t-card-glass-inner {
    background-color: rgba($white, 0.8);
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0 2.5rem 5rem $primary-100;
    border-radius: .875rem;
  }
}