@charset "utf-8";

//  Symbols Symbol
// --------------------------------------------------
//
.t-definition-list-v,
.t-label-list {
  .t-badge {
    margin-bottom: .625rem;
    margin-right: .5rem;
    padding: 0.625rem 1rem;
  }
}

.t-panel {
  position: relative;
  transition: $transition;

  @include sm-min {
    display: flex;
    flex-direction: row;
  }


  .t-panel-heading {
    display: flex;
    width: 100%;
    padding: 0.875rem 0.25rem 0.875rem 1.625rem;
    align-items: center;
    border-bottom: 0.1875rem solid $border;

    @include sm-min {
      width: 25%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      border-bottom: none;
      border-right: 0.125rem solid $border;
      padding: 0.5rem;
    }


    .svg-icon {
      color: $primary;
      margin-right: 0.75rem;

      @include sm-min {
        margin-right: 0;
        margin-bottom: .5rem;
      }
    }

    .t-panel-heading-txt {
      position: relative;
      display: flex;
      align-items: center;
      font-weight: 700;
      font-size: 1.25rem;
      width: 100%;

      @include sm-min {
        flex-direction: column;
      }


      &::after {
        content: attr(data-title);
        font-size: 110%;
        opacity: 0.16;
        display: flex;
        margin-left: 1rem;
        font-weight: 700;
      }
    }

    .btn,
    a {
      display: flex;
      flex: 0 0 auto;
    }
  }

  .t-panel-main {
    padding: 1.5rem 1rem;
    flex-direction: column;

    @extend .t-flex;

    @include sm-min {
      width: 75%;
    }


    .t-panel-main-fuild {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      width: 100%;

      .t-dl-group {
        width: 100%;
      }
    }

    .t-definition-list {
      width: 100%;
      margin-bottom: 0.375rem;

      small {
        color: $primary;
        padding-left: .5rem;
      }
    }

    .t-panel-progress-art {
      width: 50%;
      padding: 0 0.5rem;
    }

    .t-panel-item-cnt {
      position: relative;
      flex: 0 0 auto;
      width: calc(100% - 10rem);
      align-items: center;
      justify-content: inherit;
      align-self: center;
      padding-left: 2rem;

      .t-definition-list {
        margin-bottom: 0.25rem;
      }
    }

    .t-panel-item-img-container {
      width: 10rem;

      .t-panel-img {
        width: 8rem;
        height: 8rem;
        z-index: 1;

        &:before {
          content: '';
          position: absolute;
          top: -10%;
          left: 10%;
          width: 120%;
          transform: rotate(-5deg) translateX(-1.25rem);
          height: 120%;
          border-radius: 50%;
          z-index: -1;
          border: none;

          @include pattern-diagonal-lines(0.375rem, $gray-100);
        }
      }

      cursor: pointer;

      @include hover {
        transition: $transition;

        @include scale(1.05);

        opacity: 0.8;
      }
    }

    .t-panel-title {}
  }

  .t-panel-title {
    font-size: 1.125rem;
    color: $primary-900;

    @include stroke(0.25rem, rgba($primary-600, 0.2));
  }

  .t-panel-footer {
    display: flex;
    width: 100%;
    justify-content: end;

    > .btn {
      padding-left: 3rem;
      padding-right: 3rem;

      &:not(:last-child) {
        margin-right: 0.75rem;
      }
    }
  }

  .t-para {
    margin-bottom: 0.625rem;
  }

  &.t-panel-mini {
    box-shadow: $shadow-card;
    border-color: rgba($white, 0.24);
    margin-bottom: 3rem;

    @include hover {
      @include scale(1.0625);

      box-shadow: $shadow-card-hover;
    }


    .t-panel-main-heading {
      // @include text-shadow-v3(2px, 2px, 2px, $secondary, -2px, -2px, 2px, $primary);
      // @include text-shaded($size: 1px, $shadow: $primary, $through: 10);
      @include text-shadow-v2($white, rgba($dark, 0.24));
    }

    .t-panel-main {
      padding: 1.125rem 1.25rem;
    }

    .t-symbol {
      position: absolute;
      right: 0.75rem;
      top: -2rem;

      .svg-icon {
        background-size: 120% 120%;
        border-radius: $border-radius-xl;
      }

      .t-symbol-label {
        border: 0.125rem solid rgba($white, 0.24);
        box-shadow: $t-card-box-shadow $primary-300, $t-card-box-shadow-du $primary-200;
      }
    }

    .t-badge {
      position: absolute;
      right: 0.5rem;
      bottom: 0.5rem;

      big {
        font-weight: 900;
      }
    }

    .t-panel-main-heading {
      font-size: 1.0625rem;
      font-weight: 700;
      letter-spacing: .03125rem;
      margin-bottom: .5rem;
    }

    .t-panel-mini-link {
      font-size: 1.875rem;
      letter-spacing: .125rem;
      font-weight: 900;
      line-height: 1.25;
      text-decoration: none;

      @include stroke(0.25rem, rgba($primary-600, 0.2));
    }
  }

  .t-panel-top {
    padding: 1.5rem 1rem 0.875rem;
    border-bottom: 0.25rem solid $primary-400;
    text-align: center;
  }

  .t-panel-bottom {
    background-color: $primary-25;
    border-radius: 0 0 $border-radius $border-radius;
    padding: 0.75rem 1rem 1rem 1rem;

    .t-definition-list {
      margin-bottom: 0.375rem;
      font-size: 0.8125rem;

      &:last-of-type {
        margin-bottom: 1.5rem;
      }

      .t-definition-term {
        flex: 0 0 4rem;
      }

      .t-definition-description {
        margin-left: 1.5rem;
      }
    }
  }

  [data-grad-under] {
    line-height: 1.5;
  }
}

//////////////////////////////////////////////////////////////////////

.t-panel-edit {
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
}