@charset "utf-8";

//  Layout -> Breadcrumbs 
// --------------------------------------------------
.t-breadcrumbs-section {
  position: relative;
  z-index: 1;

  .t-breadcrumbs {
    display: flex;
    padding: .875rem 1rem;

    .t-breadcrumbs-item {
      position: relative;
      color: $dark;
      font-size: 0.9375rem;

      &:first-child {
        padding-left: 1.625rem;

        &:before {
          content: '';
          @include svg-bg-icon(home, $primary-400);
          opacity: .66;
          position: absolute;
          top: 50%;
          left: 0;
          transform: translateY(-50%);
          width: 1.25rem;
          height: 1.25rem;
        }
      }

      &:not(:last-child) {
        margin-right: 2rem;
      }

      &:not(:first-child) {
        &:before {
          content: '';
          @include svg-bg-icon(arrow-end, $lightgrey);
          opacity: .66;
          position: absolute;
          top: 50%;
          left: -1.5rem;
          transform: translateY(-50%);
          width: 1rem;
          height: 1rem;
        }
      }

      a {
        color: $link-blue;

        &:hover {
          color: $link-blue-hover;
        }
      }
    }
  }
}






