@charset "utf-8";

//  Layout -> Header 
// --------------------------------------------------

@mixin btStyleBd {
  position: relative;
  border-radius: $bt-style-border-radius;
  white-space: nowrap;

  &:after {
    position: absolute;
    content: '';
    top: -.3125rem;
    left: -.3125rem;
    width: calc(100% + .625rem);
    height: calc(100% + .625rem);
    display: block;
    overflow: hidden;
    border-radius: $bt-style-border-radius;
    box-shadow: 0 0.5rem 2.25rem 0 rgba($dark, 0.2);
    background-color: rgba($dark, 0.04);
    transition: background-color 200ms 200ms ease;
    z-index: -1;
  }
}

.t-header {
  position: relative;
  border-bottom: $border 2px solid;
  width: 100%;
  transition: $transition-header;
  z-index: $zindex-header;



  .t-header-main {
    padding: .5rem 0;
    background-color: $white;

    .t-header-nav-bar {
      margin-right: 1rem;
      .t-header-nav-bar-link {
        font-size: 0.875rem;
        color: $dark;

        @include hover {
          color: $primary-800;
        }
        &:not(:last-child) {
          margin-right: .75rem;
        }
      }
    }
  }

  .t-header-menu {
    position: relative;
    white-space: nowrap;

    @extend .justify-content-between;

    @extend .align-items-center;

    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: -50%;
      background-color: $white;
      width: 100%;
      height: 100%;
      z-index: -1;
    }

    .navbar {
      @include sm {
        // display: none;
      }


      @include sm-min {
        display: block;
      }
    }

    .t-header-navs {
      padding: 0.25rem;

      @include gradient-directional($start-color: $primary, $end-color: $primary-800, $deg: 45deg);
      @include btStyleBd;
    }

    .menu {
      gap: 0.25rem;
    }

    .menu-item {
      color: $primary-800;
      font-size: 0.9375rem;

      &:not(:last-child) {
        // margin-bottom: 0.5rem;
     
      }

      .menu-link {
        background-color: rgba(_var("white-rgb", $white), 0.04);
        border-color: rgba(_var("white-rgb", $white), 0.08);
        border-radius: $border-radius-lg;
        padding: 0.625rem 1rem;
        color: $white;

        @include hover {
          background-color: rgba(_var("white-rgb", $white), 0.24);
        }


        @include focus {
          background-color: rgba($dark, 0.12);
        }


        @include active {
          background-color: rgba($dark, 0.36);
        }


        .svg-icon {
          &:first-child {
            margin-right: .75rem;
          }

          &:not(:first-child) {
            &:last-child {
              margin-left: .875rem;
            }
          }
        }
      }
    }

    .menu-sub {
      max-width: $menu-sub-max-width;

      .menu-link {
        color: $grey-800;
        font-size: 80%;

        @include menu-pointer($iconColor: $primary, $fontColor: $primary-800, $hoverBg: $primary-100);
      }
    }
  }

  > .navbar {
    background-color: $white;
  }
}