.t-wrapper {
  position: relative;
}

// Desktop Mode
@include media-breakpoint-only(md) {
  // Containers
  .container,
  .container-xxl,
  .container-fluid {
  	 max-width: none;
    padding: 0 get($content-spacing, desktop) !important;
  }

  // // Wrapper
  // .wrapper {
  // 	// Fixed header mode
  // 	.header-fixed & {
  // 		padding-top: get($header-config, height, desktop, default);
  // 	}
  // }
}


// Tablet & mobile modes
@include media-breakpoint-only(sm) {
  // Containers
  .container,
  .container-xxl,
  .container-fluid {
    max-width: none;
    padding: 0 get($content-spacing, tablet-and-mobile) !important;
  }

  // Wrapper
  // .t-wrapper {
  // 	// Fixed header mode
  // 	.header-tablet-and-mobile-fixed & {
  // 		padding-top: get($header-config, height, tablet-and-mobile);
  // 	}
  // }
}

// Desktop Mode
@include media-breakpoint-only(xs) {
  // Containers
  .container,
  .container-xxl,
  .container-fluid {
    padding: 0 get($content-spacing, mobile) !important;
  }

  // // Wrapper
  // .wrapper {
  // 	// Fixed header mode
  // 	.header-fixed & {
  // 		padding-top: get($header-config, height, desktop, default);
  // 	}
  // }
}

// @include media-breakpoint-min(xs) {
//   .container,
//   .container-xxl,
//   .container-fluid {
//     padding: 0 2.25rem;
//   }
// }