// 
//  Components -> RtTools
// --------------------------------------------------
$zindex-float-tools: 100 !default;
$t-float-size: 4rem !default;

.t-float-toolsbar {
  position: fixed;
  right: 1rem;
  top: 50%;
  transform: translate3d(0, -50%, 0);
  z-index: $zindex-float-tools;
  user-select: none;
  transition: $transition;

  .t-float-toolsbar-item {
    display: block;
    width: $t-float-size;

    &:not(:last-child) {
      margin-bottom: .625rem;
    }

    &.t-float-toolsbar-item--highlight {
      .t-float-toolsbar-link {
        &:before {
          content: '';
          background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 65.1 63.2'%3E%3Cdefs%3E%3CclipPath id='a'%3E%3Cpath fill='none' d='M0 0H65V63H0z' data-name='Rectangle 116890'/%3E%3C/clipPath%3E%3CclipPath id='b'%3E%3Cpath fill='none' d='M683.716,317.5q-.085.029-.169.062l-.034.007a5.9,5.9,0,0,0-2.145,1.077A4.576,4.576,0,0,0,679.1,321.9a6.55,6.55,0,0,0,.932,3.7q-.094.148-.214.306a10.223,10.223,0,0,0,.4,1.162c.116.34.787,1.931.959,2.358a7.242,7.242,0,0,0,1.129,1.83q.065.081.129.156c.512.793.9,1,2.428,1.856a10.385,10.385,0,0,0,3.436.453c1.186-.208,2.144-1.8,2.363-2.143a4.167,4.167,0,0,0,.991-2.592c.016-.086.03-.174.044-.266a7.244,7.244,0,0,0,.048-2.149c-.067-.455-.293-2.167-.365-2.519a10.224,10.224,0,0,0-.247-1.2q-.187-.076-.345-.158a6.592,6.592,0,0,0-1.071-3.69,4.575,4.575,0,0,0-3.6-1.655c-.321-.027-.645-.049-.967-.049a4.454,4.454,0,0,0-1.428.2' data-name='Path 269856' transform='translate(-679 -317)'/%3E%3C/clipPath%3E%3C/defs%3E%3Cg data-name='Group 207712'%3E%3Cg data-name='Group 207706'%3E%3Cg fill-rule='evenodd' clip-path='url(%23a)' data-name='Group 207705'%3E%3Cpath fill='%23ffb4a6' d='M1202.659,216.671a45.791,45.791,0,0,0-4.3,6.5c-1.859,2.951-4.269,6.358-4.7,9.956-.308,2.6,1.5,5.658,4.45,5.1,1.971-.371,3.905-2.116,5.144-3.6,3.1-3.72,5.05-8.953,7.1-13.326.623-1.326,1.241-2.67,1.9-3.98a6.894,6.894,0,0,0,.95-2.241,6.171,6.171,0,0,0-2.086-5.143c-1.407-1.029-2.631-1.253-4.136-.254a2.752,2.752,0,0,0-.9.763Z' data-name='Path 269845' transform='translate(-1148 -201)'/%3E%3Cpath fill='%23d13942' d='M601.839,1.357a2.674,2.674,0,0,1,3.936-.821c.984.821.984,2.463,0,4.105a10.815,10.815,0,0,1-3.936,3.284A10.815,10.815,0,0,1,597.9,4.641c-.984-1.642-.984-3.284,0-4.105a2.674,2.674,0,0,1,3.936.821' data-name='Path 269846' transform='translate(-574)'/%3E%3Cpath fill='%23ffb4a6' d='M27.6,617.294a45.8,45.8,0,0,1,7,3.432c3.1,1.605,6.9,3.326,9.086,6.214,1.579,2.084,1.567,5.641-1.258,6.654-1.888.677-4.439.15-6.259-.506-4.556-1.641-8.884-5.17-12.867-7.9-1.208-.829-2.421-1.676-3.649-2.474a6.9,6.9,0,0,1-1.953-1.453,6.171,6.171,0,0,1-.8-5.492c.694-1.6,1.636-2.412,3.44-2.311a2.754,2.754,0,0,1,1.166.2Z' data-name='Path 269847' transform='translate(-16 -590)'/%3E%3Cpath fill='%23ffb4a6' d='M1004.019,109.491a47.521,47.521,0,0,0,6.2,2.264c2.857.767,6.253,1.84,9.048,1.464,2.017-.271,3.582-2.14,2.072-4.137a11.054,11.054,0,0,0-4.562-2.985c-3.884-1.507-6.288-1.432-10.3-1.705-2.371-.162-7.59-.249-8.795-.469-.662-.121-.287,2.483.01,2.546Z' data-name='Path 269848' transform='translate(-959 -100)'/%3E%3Cpath fill='%23ffb4a6' d='M15.142,255.8a47.519,47.519,0,0,1-4.184,5.1c-2.069,2.114-4.447,4.766-7.044,5.864-1.874.793-4.173-.019-3.889-2.507a11.054,11.054,0,0,1,2.408-4.891c2.577-3.274,4.685-4.432,8-6.709,1.959-1.345,6.407-4.077,7.332-4.879.509-.441,1.511,1.991,1.287,2.2Z' data-name='Path 269849' transform='translate(0 -238)'/%3E%3Cpath fill='%23ffb4a6' d='M944.636,40.963a2.1,2.1,0,0,0,.131-.636,3.107,3.107,0,0,0-.516-2.191,4.994,4.994,0,0,1-.411-.52c-.094-.185.14-.5.324-.528.413-.071,1.027.82,1.274,1.093.833.92,2.106,1.632,2.03,3.019a1.206,1.206,0,0,1-.349.978l-1.761-.541-.061.624a4.223,4.223,0,0,0-.8-.36c-.444-.117-1.446.087-1.734-.416-.135-.236.4-.3.522-.318.459-.056.9-.143,1.351-.2' data-name='Path 269850' transform='translate(-907 -36)'/%3E%3Cpath fill='%23ffb4a6' d='M428.8,181.045a2.1,2.1,0,0,1-.436-.481,3.107,3.107,0,0,1-.67-2.148,5.008,5.008,0,0,0,.09-.657c-.013-.207-.373-.356-.548-.29-.392.149-.467,1.229-.541,1.589-.249,1.216-.982,2.476-.211,3.632.228.341.39.581.8.664l1.241-1.362.37.506a4.226,4.226,0,0,1,.5-.717c.323-.327,1.289-.661,1.281-1.241,0-.271-.5-.057-.611-.008-.423.185-.849.335-1.267.512' data-name='Path 269851' transform='translate(-410 -171)'/%3E%3Cpath fill='%23f76707' d='M330.211,542.373c-2.765,2.885-19.177,4.067-19.279,3.378-.619-4.172-4.656-12.72-6.19-16.693-.342-.886-1.94-1.071-2.719-1.407-2.236-.963-4.5-1.881-6.706-2.92-.552-.261-2.087-.612-2.4-1.236-.193-.388.764-2.231.911-2.571a46.465,46.465,0,0,0,2.177-6.576c.074-.278.258-1.24.486-1.912.03-.312.084-.653.227-.759.173-.128.7.21.855.272.786.316,1.579.613,2.357.947a35.568,35.568,0,0,0,6.773,2.571c1.221-.328,2.683-.838,3.253-.992,2.122-.576,4.251-1.2,6.4-1.733,2.121-.627,4.275-1.164,6.4-1.74.569-.155,2.088-.454,3.308-.789a35.571,35.571,0,0,0,4.543-5.643c.5-.682,1.037-1.339,1.555-2.009.1-.131.387-.69.6-.667.177.019.4.286.579.54.537.464,1.182,1.2,1.387,1.4a46.465,46.465,0,0,0,5.2,4.572c.3.219,2.057,1.325,2.086,1.757.047.7-1.1,1.775-1.444,2.279-1.374,2.01-2.867,3.948-4.308,5.91-.5.684-1.787,1.651-1.634,2.589.686,4.2,1.9,11.558,2.508,15.731,1.08,7.4-6.518,5.27-6.928,5.7' data-name='Path 269852' transform='translate(-282 -483)'/%3E%3Cpath fill='%23fc9797' d='M660.741,453.02a3.931,3.931,0,0,1,2.769-.478,9.03,9.03,0,0,1,3.361,1.959,3.8,3.8,0,0,1,.417-2.1,1.02,1.02,0,0,1,1.5-.395,1.852,1.852,0,0,1,.665.966c.519,1.615-.731,3.108-2.024,3.931a7.191,7.191,0,0,0-.184.795,11.431,11.431,0,0,0,.062,5.236c.258.763,1.523.058,1.663.067.7.046-.472,4.6-3.758,5.592-3.6,1.09-7.032-2.626-6.419-2.819.41-.13,2.01-.412,1.792-1.094a13.386,13.386,0,0,0-2.527-4.38,7.187,7.187,0,0,0-.561-.592c-1.532-.056-3.365-.712-3.735-2.368a1.852,1.852,0,0,1,.085-1.17,1.02,1.02,0,0,1,1.494-.418,3.8,3.8,0,0,1,1.42,1.6,9.029,9.029,0,0,1,1.908-3.39,3.791,3.791,0,0,1,2.072-.946' data-name='Path 269853' transform='translate(-629 -435)'/%3E%3Cpath fill='%23ffb4a6' d='M683.548,317.565q.084-.034.169-.062a5.9,5.9,0,0,1,2.395-.156,4.575,4.575,0,0,1,3.6,1.655,6.592,6.592,0,0,1,1.071,3.69q.158.082.345.158a10.225,10.225,0,0,1,.247,1.2c.072.352.3,2.064.365,2.519a7.242,7.242,0,0,1-.048,2.149c-.014.092-.028.181-.044.266a4.167,4.167,0,0,1-.991,2.592c-.219.345-1.177,1.935-2.363,2.143a10.386,10.386,0,0,1-3.436-.453c-1.524-.854-1.916-1.064-2.428-1.856q-.064-.075-.129-.156a7.242,7.242,0,0,1-1.129-1.83c-.172-.427-.843-2.018-.959-2.358a10.221,10.221,0,0,1-.4-1.162q.121-.158.214-.306a6.549,6.549,0,0,1-.932-3.7,4.575,4.575,0,0,1,2.269-3.249,5.9,5.9,0,0,1,2.145-1.077l.034-.007' data-name='Path 269854' transform='translate(-653 -305)'/%3E%3C/g%3E%3C/g%3E%3Cg data-name='Group 207708'%3E%3Cg clip-path='url(%23b)' data-name='Group 207707' transform='translate(26 12)'%3E%3Cpath fill='%23ffaa9a' fill-rule='evenodd' d='M701.083,482.914a9.17,9.17,0,0,0,1.4,2.256,13.182,13.182,0,0,0,1.524,1.939c1.454,1.356,3.938,2.155,5.811,1.166a3.2,3.2,0,0,0,1.088-.953,5.992,5.992,0,0,0,.471-1.074,13.627,13.627,0,0,0,1.03-3.465,17.247,17.247,0,0,0,.016-2.108c.011-.33.127-.9.447-.364a6.884,6.884,0,0,1,.668,3.63c-.073,2.327-.817,5.208-2.994,6.477a6.576,6.576,0,0,1-3.279.74,6.186,6.186,0,0,1-2.19-.446,7.967,7.967,0,0,1-2.281-1.3l-1.716-6.494c-.014-.047-.027-.094-.037-.14Z' data-name='Path 269855' transform='translate(-700 -474)'/%3E%3C/g%3E%3C/g%3E%3Cg data-name='Group 207710'%3E%3Cg fill-rule='evenodd' clip-path='url(%23a)' data-name='Group 207709'%3E%3Cpath fill='%23142645' d='M731.522,465.524a6.923,6.923,0,0,1,1.324-.382c.285-.06.573-.108.855-.183a.911.911,0,0,0,.43-.2c.125-.131.008-.33-.126-.4a1.3,1.3,0,0,0-.81-.018,3.812,3.812,0,0,0-1.363.593,2.909,2.909,0,0,0-.589.477Zm8.449-2.3a6.922,6.922,0,0,0-1.335.34c-.276.093-.549.2-.83.275a.911.911,0,0,1-.47.048c-.174-.05-.173-.281-.093-.408a1.3,1.3,0,0,1,.69-.426,3.812,3.812,0,0,1,1.476-.178,2.911,2.911,0,0,1,.75.114Z' data-name='Path 269857' transform='translate(-703 -445)'/%3E%3Cpath d='M782.85,528.512a.449.449,0,1,1-.248.526.415.415,0,0,1,.248-.526' data-name='Path 269858' transform='translate(-753 -508)'/%3E%3Cpath d='M902.994,497.862a.449.449,0,1,0,.48.329.414.414,0,0,0-.48-.329' data-name='Path 269859' transform='translate(-868 -479)'/%3E%3Cpath fill='%23142645' d='M599.744,289.445a1.033,1.033,0,0,1,.5-1.531,3.637,3.637,0,0,1,2.074-.263,11,11,0,0,1,1.187-.091c.634-.016,1.288-.081,1.921-.038a10.77,10.77,0,0,1,1.291.167,7.535,7.535,0,0,1,3.542,1.076,5.162,5.162,0,0,1,1.98,2.14,2.865,2.865,0,0,1,.349.986,6.188,6.188,0,0,1,.314,1.3,2.47,2.47,0,0,1,.072.886c-.026.1-.131.145-.2.207a.964.964,0,0,0-.315.4,2.857,2.857,0,0,0-.047.816c-.008.079-.045.252-.149.249-.062,0-.088-.079-.107-.127-.043-.106-.082-.213-.115-.323a2.3,2.3,0,0,0-.61-1.192c-.123-.093-.271-.156-.4-.243a4.415,4.415,0,0,1-.413-.315,5.073,5.073,0,0,1-2.411-.762,3.364,3.364,0,0,1-.468-.358,4.47,4.47,0,0,1-.636.584,8.3,8.3,0,0,1-2.152,1.358,20.065,20.065,0,0,1-2.015.631c-.308.084-.612.172-.922.229-.014.093-.036.184-.056.268a4.669,4.669,0,0,1-.325.918c-.067.139-.163.268-.222.411a2.3,2.3,0,0,0,.076,1.337c.027.111.048.223.064.336.008.051.024.131-.028.164-.089.055-.208-.075-.255-.139-.162-.225-.229-.5-.453-.68a.964.964,0,0,0-.473-.184c-.094-.016-.206,0-.281-.076a2.47,2.47,0,0,1-.386-.8,5.047,5.047,0,0,1-.436-1.846l-.057-.019c-1.1-.37-2.559-1.345-2.349-2.7a2.868,2.868,0,0,1,.395-.995,3.514,3.514,0,0,1,.664-.8,4.545,4.545,0,0,1,1.856-.98' data-name='Path 269860' transform='translate(-574 -277)'/%3E%3Cpath fill='%23fc9797' d='M751.647,563.037a1.22,1.22,0,1,1-.858,1.5,1.221,1.221,0,0,1,.858-1.5' data-name='Path 269861' transform='translate(-722 -542)'/%3E%3Cpath fill='%23fc9797' d='M913.405,520.342a1.22,1.22,0,1,1-.858,1.5,1.221,1.221,0,0,1,.858-1.5' data-name='Path 269862' transform='translate(-878 -500)'/%3E%3Cpath d='M853.682,604.937a2.19,2.19,0,0,0,.652.119,1.435,1.435,0,0,0,1.28-.8.079.079,0,1,0-.146-.059,1.271,1.271,0,0,1-1.138.7,2.036,2.036,0,0,1-.6-.113.079.079,0,0,0-.043.152' data-name='Path 269863' transform='translate(-821 -581)'/%3E%3Cpath d='M850.425,532.211c0,.017.012.056.016.072a.428.428,0,0,0,.109.179,2.252,2.252,0,0,0,.183.171.089.089,0,1,1-.117.134,1.007,1.007,0,0,1-.349-.443.71.71,0,0,1-.021-.1.176.176,0,0,1,.021-.109.238.238,0,0,1,.154-.094c.016,0,.033-.008.049-.014s.031-.011.036-.031a.447.447,0,0,0-.033-.217c-.031-.1-.07-.2-.086-.274a.089.089,0,1,1,.175-.035c.018.089.069.2.1.315a.533.533,0,0,1,.019.251.207.207,0,0,1-.143.157c-.027.01-.056.016-.083.024l-.024.007-.005,0' data-name='Path 269864' transform='translate(-818 -511)'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
          width: 100%;
          height: 100%;
          position: absolute;
          left: 0;
          top: -3rem;
          z-index: -1;
        }

        .t-float-toolsbar-link-txt {
          color: $primary-700;
        }
      }
    }

    &.t-float-toolsbar-item--chatbot {
      .t-float-toolsbar-link {
        height: $t-float-size;

        @include gradient-directional($primary-200, $primary-400, 135deg);

        box-shadow: 0 2px 8px rgba($primary, 0.48);
        border-radius: 50%;

        .t-float-toolsbar-link-img {
          display: block;
          width: 100%;

          @include absolute-center;

          img {
            width: $t-float-size * 0.618;
          }
        }
      }
    }

    .t-float-toolsbar-link {
      position: relative;
      display: block;
      border-radius: $border-radius;
      background-color: rgba($white, 1);
      box-shadow: 0 2px 8px rgba($dark, 0.12);
      width: 100%;
      text-align: center;
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;

      &:hover {
        &:before {
          transition: transform 0.25s ease;
          transform: scale(1.025) translate(0, -0.625rem);
        }

        .t-float-toolsbar-link-icon {
          transition: $transition-base;
          opacity: .8;
        }

        .t-float-toolsbar-link-img {
          transition: $transition-base;
          opacity: .8;
        }

        .t-float-toolsbar-link-txt {
          transition: $transition-base;
          opacity: .8;
        }
      }

      .svg-icon {
        display: block;
        margin: 0 auto;

        svg,
        img {
          width: 1.5rem;
          height: 1.5rem;
        }
      }

      .t-float-toolsbar-link-txt {
        color: $grey-800;
        font-weight: 500;
        display: block;
        margin-top: .25rem;
        font-size: .8125rem;
        letter-spacing: -0.5px;
      }
    }
  }

  @include md {
    right: -2.5rem;
  }


  @include hover {
    right: 1rem;
  }
}