//
//  Components -> Clocks 
// --------------------------------------------------
.current-clock {
    position: relative;
    background-color: $white;
    border-radius: $clock-border-radius;
    box-shadow: $clock-shadow;
    font-family: $font-family-clock;
    font-weight: $font-family-clock-weight;
    font-size: 0;
    line-height: 1.375;
    overflow: hidden;
    text-align: center;
    user-select: none;

    @include in-bk-mid;

    @media all and (max-width: 820px) {
        display: none;
    }

    .current-clock--heading {
        display: block;
        background-color: $clock-color;
        border-bottom: $clock-border-width dashed rgba($white, 0.38);
        box-shadow: 0 $clock-shadow-width 0 darken($clock-color, 20%);
        color: $white;
        font-size: $clock-heading-font-size;
        padding: $clock-heading-padding;
    }

    .clock-group {
        position: relative;
        padding: $clock-group;

        &.dark--clock {
            .flip-card {
                background-color: $white;
                box-shadow: 0 0 6px rgba($dark, 0.48);
                color: $white;

                &:before {
                    background-color: rgba($white, 0.24);
                }

                .digital {
                    &:before,
                    &:after {
                        background-color: $dark;
                    }

                    &:before {
                        border-bottom: solid 1px rgba($white, 0.12);
                    }
                }

                &.down {
                    &.go {
                        .front:before {
                            box-shadow: 0 -2px 6px rgba($white, 0.3);
                        }
                    }
                }

                &.up {
                    &.go {
                        .front:after {
                            box-shadow: 0 2px 6px rgba($white, 0.3);
                        }
                    }
                }
            }
        }

        &.light--clock {
            .flip-card {
                background-color: $dark;
                box-shadow: 0 0 6px rgba($grey-100, 0.48);
                color: $dark;

                &:before {
                    background-color: rgba($white, 0.48);
                }

                .digital {
                    &:before,
                    &:after {
                        background-color: $grey-100;
                    }
                }

                &.down {
                    &.go {
                        .front:before {
                            box-shadow: 0 -2px 6px rgba($dark, 0.3);
                        }
                    }
                }

                &.up {
                    &.go {
                        .front:after {
                            box-shadow: 0 2px 6px rgba($dark, 0.3);
                        }
                    }
                }
            }
        }

        .flip-card {
            position: relative;
            border-radius: $calendar-border-radius;
            font-size: $clock-group-font-size;
            font-family: $font-family-clock;
            font-weight: $font-family-clock-weight;
            padding: $clock-flip-card-padding;
            text-align: center;

            @include in-bk-mid;

            &:before {
                content: '';
                position: absolute;
                left: 0;
                top: 50%;
                height: 1px;
                width: 100%;
                z-index: 2;
            }

            &:nth-of-type(odd) {
                margin-right: .25rem;
            }

            .digital {
                position: static;

                &:before,
                &:after {
                    content: "";
                    position: absolute;
                    left: 0;
                    right: 0;
                    overflow: hidden;
                }

                &:before {
                    top: 0;
                    bottom: 50%;
                    border-radius: 2px 2px 0 0;
                    line-height: calc(1.5rem - 1px);
                }

                &:after {
                    top: 50%;
                    bottom: 0;
                    border-radius: 0 0 2px 2px;
                    line-height: 0;
                }
            }

            &.down {
                .front:before {
                    z-index: 3;
                }

                .back:after {
                    z-index: 2;
                    transform-origin: 50% 0%;
                    transform: perspective(160px) rotateX(180deg);
                }

                .front:after,
                .back:before {
                    z-index: 1;
                }

                &.go {
                    .front:before {
                        transform-origin: 50% 100%;
                        animation: frontFlipDown 0.6s ease-in-out both;
                        backface-visibility: hidden;
                    }

                    .back:after {
                        animation: backFlipDown 0.6s ease-in-out both;
                    }
                }
            }

            &.up {
                .front:after {
                    z-index: 3;
                }

                .back:before {
                    z-index: 2;
                    transform-origin: 50% 100%;
                    transform: perspective(160px) rotateX(-180deg);
                }

                .front:before,
                .back:after {
                    z-index: 1;
                }

                &.go {
                    .front:after {
                        transform-origin: 50% 0;
                        animation: frontFlipUp 0.6s ease-in-out both;
                        backface-visibility: hidden;
                    }

                    .back:before {
                        animation: backFlipUp 0.6s ease-in-out both;
                    }
                }
            }

            .number0 {
                &:before,
                &:after {
                    content: "0";
                }
            }

            .number1 {
                &:before,
                &:after {
                    content: "1";
                }
            }

            .number2 {
                &:before,
                &:after {
                    content: "2";
                }
            }

            .number3 {
                &:before,
                &:after {
                    content: "3";
                }
            }

            .number4 {
                &:before,
                &:after {
                    content: "4";
                }
            }

            .number5 {
                &:before,
                &:after {
                    content: "5";
                }
            }

            .number6 {
                &:before,
                &:after {
                    content: "6";
                }
            }

            .number7 {
                &:before,
                &:after {
                    content: "7";
                }
            }

            .number8 {
                &:before,
                &:after {
                    content: "8";
                }
            }

            .number9 {
                &:before,
                &:after {
                    content: "9";
                }
            }
        }

        em {
            font-style: normal;
            font-size: 1.5rem;
            padding-left: .25rem;
            padding-right: .25rem;

            @include in-bk-mid;
        }
    }

    &:hover,
    &:focus {
        animation: swing 0.25s ease-out;
    }
}

@keyframes frontFlipDown {
    0% {
        transform: perspective(160px) rotateX(0deg);
    }

    100% {
        transform: perspective(160px) rotateX(-180deg);
    }
}

@keyframes backFlipDown {
    0% {
        transform: perspective(160px) rotateX(180deg);
    }

    100% {
        transform: perspective(160px) rotateX(0deg);
    }
}

@keyframes frontFlipUp {
    0% {
        transform: perspective(160px) rotateX(0deg);
    }

    100% {
        transform: perspective(160px) rotateX(180deg);
    }
}

@keyframes backFlipUp {
    0% {
        transform: perspective(160px) rotateX(-180deg);
    }

    100% {
        transform: perspective(160px) rotateX(0deg);
    }
}