@charset "utf-8";

/**
//  Components -> Buttons -> Buttons
// ––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */
.btn {
  // border: 1px solid $grey-100;
  border: 1px solid transparent;
  color: $grey-900;
  cursor: pointer;
  font-weight: $btn-font-weight;
  text-align: center;
  user-select: none;
  white-space: nowrap;

  background-color: $lightest;

  @if $enable-gradients {
     @include gradient-bg($lightest);
  }
  
  @include in-bk-mid;
  @include button-size($btn-padding-y, $btn-padding-x, $btn-font-size, $btn-line-height, $btn-radius);
  @include transition($btn-transition);

  @include btn-hover {
    color: $grey-700;
    text-decoration: none;
    background-color: darken($lightest, 4%);
    @if $enable-gradients {
      @include gradient-bg(darken($lightest, 4%));
    }
  }

  @include btn-focus {
    outline: 0;
    box-shadow: 0 0 0 3px rgba(mix(color-yiq($lightest), $lightest, 15%), 0.36);
  }

  @include btn-active {
    color: $dark;
    background-color: darken($lightest, 2%);
    @if $enable-gradients {
      @include gradient-bg(darken($lightest, 2%));
    }
  }

  @include btn-disabled {
    cursor: not-allowed;
    opacity: $btn-disabled-opacity;
    @include box-shadow(none);
  }

  &.btn--icon {
    padding-left: 0;
    padding-right: 0;
    min-width: 12rem;

    font {
      padding-right: 2.5rem;
    }

    i {
      @include absolute-y-center;

      right: 0;
      border-left: 1px solid rgba($white, 0.66);
      display: block;
      width: 2.5rem;
      text-align: center;
      font-size: 1rem;
    }

    &.btn--icon--sm {
      min-width: 8rem;

      font {
        padding-right: 2rem;
      }

      i {
        @include absolute-y-center;

        right: 0;
        border-left: 1px solid rgba($white, 0.66);
        display: block;
        width: 2rem;
        text-align: center;
        font-size: .875rem;
      }
    }

    &.btn--icon--md {
      min-width: 10rem;

      font {
        padding-right: 3.5rem;
      }

      i {
        @include absolute-y-center;

        right: 0;
        border-left: 1px solid rgba($white, 0.66);
        display: block;
        width: 3.5rem;
        text-align: center;
        font-size: 1.25rem;
      }
    }

    &.btn--icon--lg {
      min-width: 14rem;

      font {
        padding-right: 4.5rem;
      }

      i {
        @include absolute-y-center;

        right: 0;
        border-left: 1px solid rgba($white, 0.66);
        display: block;
        width: 4.5rem;
        text-align: center;
        font-size: 2rem;
      }
    }
  }

  // Square Buttons
  &.btn--square {
    position: relative;
    width: 2rem;
    height: 2rem;
    padding: 0;

    // i , 
    // svg {
    //   font-size: 1rem;
    //   @include absolute-center;
    // }

    // &--md {
    //   width: 2.5rem;
    //   height: 2.5rem;
    //   padding: 0;

    //   i {
    //     font-size: 1.25rem;

    //     @include absolute-center;
    //   }
    // }

    // &--lg {
    //   width: 3rem;
    //   height: 3rem;
    //   padding: 0;

    //   i {
    //     font-size: 1.5rem;

    //     @include absolute-center;
    //   }
    // }
  }

  &.loading--btn {
    cursor: not-allowed;
    opacity: 0.65;

    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      background-color: rgba($white, 0.66);
      height: 100%;
      width: 100%;
    }

    &:after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      display: inline-block;
      height: 28px;
      width: 28px;
      border: 3px solid rgba($white, 0.33);
      border-top-color: $white;
      border-radius: 50%;
      animation: loading-btn--fade-in 0.33s ease, loading-btn--rotation 0.66s linear 0s infinite;
    }
  }

  // i,
  // font {
  //   vertical-align: middle;
  // }
}

a.btn.disabled,
fieldset:disabled a.btn {
  pointer-events: none;
}

input[type="submit"],
input[type="reset"],
input[type="button"] {
  &.btn--block {
    width: 100%;
  }
}