// 
//  Mixins > Clear Fix
// –––––––––––––––––––––––––––––––––––––––––––––––––––––––––
@mixin clearfix {
  @if $legacy-support-for-ie {
    @include ie {
      *zoom: 1;
    }
  }

  &:before,
  &:after {
    content: '';
    display: table;
  }

  &:after {
    clear: both;
    overflow: hidden;
  }
}

%clearfix {
  @include clearfix;
}