@charset "utf-8";
.dashboard-card {
  img {
    width: 100%;
  }
}
/** 
//  Dashboard Card 卡片
// ––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */
.dashboard-card {
  background-color: $white;
  box-shadow: $shadow-card;
  border-radius: $card-border-radius;
  margin-bottom: 1.25rem;

  .dashboard-card-header {
    position: relative;
    border-bottom: 2px solid $border;
    border-top: 2px solid transparent;
    font-size: 0;
    padding: .75rem 1.25rem .625rem;
    // text-align: justify;
    // text-align-last: justify;

    @include clearfix;

    .dashboard-card-header-lt {
      // display: inline-block;
      // vertical-align: middle;
      text-align: left;
      text-align-last: left;
      float: left;
      padding-right: .75rem;
      max-width: calc(100% - 2.5rem);

      h3,
      .hd-title {
        display: inline;
        vertical-align: middle;
        font-size: 1.125rem;

        small {
          @include opacity(0.6);
          font-weight: normal;
        }
      }

      i,
      .hd-icon {
        color: $lightgrey;
        display: inline;
        vertical-align: middle;
        font-size: 1.5rem;
        // margin-right: .5rem;
        position: relative;
      }
    }

    .dashboard-card-header-rt {
      // display: inline-block;
      // vertical-align: middle;
      // // width: 2rem;
      // position: absolute;
      // right: 1.25rem;
      // top: calc(.75rem + 2px);      
      text-align: left;
      text-align-last: left;
      float: right;

      .dashboard-card-header-tools {
        .t-form-btn {
          padding: .25rem .5rem;
          font-size: 1rem;
          color: $info;

          @include btn-hover {
            background-color: rgba($info, .24);
            color: $white;
          }

          @include btn-active {
            background-color: rgba($info, .48);
            color: $white;
          }

          &[aria-expanded="true"] {
            background-color: rgba($info, .60);
            color: $white;
          }
        }

        .dropdown-item-icon {
          color: $info;
        }
      }
    }
  }

  .dashboard-card-body {
    position: relative;
    padding: 1.25rem 1.5rem;
    overflow-x: hidden;

    .dashboard-card-list-inline {
      font-size: 0;
      margin-top: .75rem;

      .dashboard-card-list-inline-item {
        display: inline-block;
        vertical-align: middle;
        margin-bottom: .5rem;
        margin-top: .5rem;

        .dashboard-card-list-inline-item-title {
          font-size: .75rem;
          color: $lightgrey;
          margin-bottom: .25rem;
        }

        .dashboard-card-list-inline-item-txt {
          font-size: 1rem;
          color: $dark;
          @include title;
        }
      }
    }

    .card-list-group {
      // padding: 0 0.5rem 1rem;

      .card-title {
        // border-bottom: 1px solid $border;
        display: inline-block;
        font-size: 0;
        padding: 0 1rem 0.5rem 1rem;
        margin-bottom: .75rem;
        border-bottom: 2px solid lighten($primary, 28%);

        h4 {
          display: inline-block;
          vertical-align: middle;
          color: $grey;
          font-size: 1rem;
          font-weight: 400;
          margin-right: 0.5rem;
        }
      }

      .card-list {

        li {
          &:not(:last-child) {
            margin-bottom: 0.5rem;
          }

          >a {
            position: relative;
            display: block;
            border: 2px solid transparent;
            border-radius: 8px;
            color: $grey;
            font-size: 1rem;
            padding: 0.625rem 3rem 0.625rem 2.5rem;
            transition: .25s all ease-in-out;
            text-decoration: none;

            &:hover {
              box-shadow: 0 2px 6px rgba(129, 129, 165, 0.22);
            }

            &:before {
              content: '';
              width: 0.625rem;
              height: 0.625rem;
              position: absolute;
              top: 50%;
              left: .9375rem;
              transform: translateY(-50%);
              border-radius: 50%;
            }

            .b-badge {
              position: absolute;
              right: 0.75rem;
              top: 50%;
              transform: translateY(-50%) scale(0.85);
              opacity: .66;
            }
          }
        }
      }
    }

    .search-result-total {
      position: absolute;
      right: 2rem;
      top: 1.25rem;

      font-size: 1rem;

      i {
        color: saturate($success, 40%);
        display: inline-block;
        vertical-align: middle;
        font-size: 1.25rem;
        margin-right: 1rem;
      }

      label {
        background-color: $grey;
        color: $white;
        border-radius: 3rem;
        font-size: 0;
        font-weight: 500;
        padding: .25rem 1rem;
        margin: 0;
        user-select: none;

        font {
          font-size: 1rem;
          display: inline-block;
          vertical-align: middle;
          margin-bottom: 0.125rem;

          big {
            color: saturate($success, 40%);
          }
        }
      }
    }
  }

  .list-group {
    margin-bottom: 0;
  }

  .nav-segment {
        padding: 0.25rem 0.25rem;
    .nav-item {
      [data-toggle="tab"] {
        font-size: .75rem;
        padding: .25rem .75rem;

        i {
          font-size: 1.125rem;
          display: inline-block;
        }

        i+font {
          margin-left: 0.25rem;
        }

        .badge {
          padding: 0.125rem 0.375rem
        }


      }
    }
  }

  select.t-form-control {
    background-color: $default;
    background-position: right 0.5rem center;
    border-color: rgba($white, .24);
    font-size: .875rem;
    padding: $input-btn-padding-y-xs 1.25rem $input-btn-padding-y-xs $input-btn-padding-x-xs;
  }

}

.dashboard-card-body {
      position: relative;
}