@charset "utf-8";

/** –––––––––––––––––––––––––––––––––––––––––––––––––––––––––
//  Pages > maps
// ––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */
#map_container {
  border-radius: 8px;
}

.map-container {
  position: relative;

  width: 100%;
  height: 100%;
  border: 2px solid darken($cloud-dancer, 8%);
  border-radius: 8px;
  margin-bottom: 2rem;
  font-size: 1rem;

  .full-map-wrap,
  .map-wrap-inner {
    background-color: $grey-lighter;
    background-color: $cloud-dancer;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 2rem;
    min-height: 28rem;

    svg,
    canvas {}


    &.dark_mode {
      background-color: $primary-900;
      transition: $transition-base;

      .mask-graph {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100'%3E%3Cg data-name='graph' fill='%23fff' fill-rule='evenodd' opacity='1'%3E%3Cpath d='M96 95h4v1h-4v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4Zm-1 0v-9h-9v9Zm-10 0v-9h-9v9Zm-10 0v-9h-9v9Zm-10 0v-9h-9v9Zm-10 0v-9h-9v9Zm-10 0v-9h-9v9Zm-10 0v-9h-9v9Zm-10 0v-9h-9v9Zm-9-10h9v-9h-9Zm10 0h9v-9h-9Zm10 0h9v-9h-9Zm10 0h9v-9h-9Zm10 0h9v-9h-9Zm10 0h9v-9h-9Zm10 0h9v-9h-9Zm10 0h9v-9h-9Zm9-10v-9h-9v9Zm-10 0v-9h-9v9Zm-10 0v-9h-9v9Zm-10 0v-9h-9v9Zm-10 0v-9h-9v9Zm-10 0v-9h-9v9Zm-10 0v-9h-9v9Zm-10 0v-9h-9v9Zm-9-10h9v-9h-9Zm10 0h9v-9h-9Zm10 0h9v-9h-9Zm10 0h9v-9h-9Zm10 0h9v-9h-9Zm10 0h9v-9h-9Zm10 0h9v-9h-9Zm10 0h9v-9h-9Zm9-10v-9h-9v9Zm-10 0v-9h-9v9Zm-10 0v-9h-9v9Zm-10 0v-9h-9v9Zm-10 0v-9h-9v9Zm-10 0v-9h-9v9Zm-10 0v-9h-9v9Zm-10 0v-9h-9v9Zm-9-10h9v-9h-9Zm10 0h9v-9h-9Zm10 0h9v-9h-9Zm10 0h9v-9h-9Zm10 0h9v-9h-9Zm10 0h9v-9h-9Zm10 0h9v-9h-9Zm10 0h9v-9h-9Zm9-10v-9h-9v9Zm-10 0v-9h-9v9Zm-10 0v-9h-9v9Zm-10 0v-9h-9v9Zm-10 0v-9h-9v9Zm-10 0v-9h-9v9Zm-10 0v-9h-9v9Zm-10 0v-9h-9v9Zm-9-10h9v-9h-9Zm10 0h9v-9h-9Zm10 0h9v-9h-9Zm10 0h9v-9h-9Zm10 0h9v-9h-9Zm10 0h9v-9h-9Zm10 0h9v-9h-9Zm10 0h9v-9h-9Z' opacity='.5'/%3E%3Cpath d='M6 5V0H5v5H0v1h5v94h1V6h94V5Z'/%3E%3C/g%3E%3C/svg%3E");
        @include opacity(0.06);
      }

      .map-table {
        background-color: rgba($white, 0.88);
      }

      .map-course-btn {
        background-color: $white;
        color: $dark;
      }
    }
  }

  &:before {
    content: '';
    display: block;
    width: 100%;
    padding-top: 100%;
  }

  .map-table {
    background-color: $white;
    border-radius: 8px;
    position: absolute;
    left: 3.75rem;
    top: 1rem;
    font-size: .875rem;
    padding: .75rem 1.5rem;
    z-index: 1;

    .map-tabel-list {
      .maker {
        width: .875rem;
        height: .875rem;
        border-radius: 2px;
        margin-right: .5rem;
        display: inline-block;
        vertical-align: middle;
      }

      font {
        display: inline-block;
        vertical-align: middle;
      }
    }
  }

  .map-tools {
    position: absolute;
    top: 1rem;
    font-size: .875rem;
    left: 1rem;
    z-index: 1;
  }
}