//
//  Layout -> radioio 
// --------------------------------------------------
.radio-inp {
  display: none;

  ~.radio-lab {
    cursor: pointer;
    font-size: .875rem;
    user-select: none;

    .radio,
    a,
    font,
    span {
      @include in-bk-mid;
    }

    .radio {
      background-color: $white;
      border: 1px solid $grey-200;
      border-radioius: 100%;
      margin-right: .25rem;
      width: PxRem(18px);
      height: PxRem(18px);

      &:hover {
        border-color: lighten($secondary, 20%);
      }

      &:after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(0);
        height: PxRem(9px);
        width: PxRem(9px);
        background-color: $secondary;
        border-radioius: 100%;
        opacity: 0.08;
        pointer-events: none;
        transition: all 0.125s ease-in-out;
      }

      &.radio--md {
        width: PxRem(22px);
        height: PxRem(22px);

        &:after {
          width: PxRem(12px);
          height: PxRem(12px);
        }
      }

      &.radio--lg {
        width: PxRem(24px);
        height: PxRem(24px);

        &:after {
          width: PxRem(16px);
          height: PxRem(16px);
        }
      }
    }

    &:hover .radio:after {
      transform: translate(-50%, -50%) scale(1.75);
    }
  }

  &:checked+.radio-lab {
    .radio {
      border-color: lighten($secondary, 5%);

      &:after {
        transform: scale(1) translate(-50%, -50%);
        transition: all .25s ease-in-out;
        opacity: 1;
      }
    }
  }

  &:disabled+.radio-lab {
    .radio {
      border-color: $grey-100;
      background: $grey-200;
      cursor: not-allowed;
    }

    a,
    font,
    span {
      cursor: not-allowed;
    }

    &:after {
      display: none;
    }
  }

  &:checked:disabled+.radio-lab {
    .radio {
      &:after {
        background-color: $grey-400;
      }
    }
  }
}