// 
//  Components -> Pulse
// --------------------------------------------------

.pulse {
  position: relative;

  @each $name,
  $color in $theme-colors {
    &.pulse-#{$name} {
      .pulse-ring {
        border-color: $color;
      }
    }
  }
}

.pulse-ring {
  display: block;
  border-radius: 2.5rem;
  height: 2.5rem;
  width: 2.5rem;
  position: absolute;
  animation: animation-pulse 3.5s ease-out;
  animation-iteration-count: infinite;
  opacity: 0;
  border-width: 3px;
  border-style: solid;
  border-color: $grey-500;
}

@keyframes animation-pulse {
  0% {
    transform: scale(0.1, 0.1);
    opacity: 0.0;
  }

  60% {
    transform: scale(0.1, 0.1);
    opacity: 0.0;
  }

  65% {
    opacity: 1;
  }

  100% {
    transform: scale(1.2, 1.2);
    opacity: 0.0;
  }
}