.bb-form-check {
  display: inline-block;
  vertical-align: middle;
  font-size: 0;

  .bb-form-check-input {
    $colors: ($base-color, map-get($default-colors, "shadow"));
    $colors-checkbox-dark: ($color-white, map-get($default-colors, "shadow"));

    appearance: none;

    @include visually-hidden();

    &:checked {
      ~.bb-form-check-label > i[aria-label="checkbox"] {
        &::before {
          transform: translate3d(0, -50%, 0) scale(1);
        }

        &::after {
          transform: translate3d(0, -50%, 0) scale(1);
        }
      }

      &:focus~.bb-form-check-label > i[aria-label="checkbox"] {
        &::before {
          transform: translate3d(0, -50%, 0) scale(1.125);
        }

        &::after {
          transform: translate3d(0, -50%, 0) scale(1.125);
        }
      }
    }

    // dark
    &.is-dark {

      ~.bb-form-check-label {

        > .bb-form-check-label-txt {
          color: $color-white;
        }

        > i[aria-label="checkbox"] {
          color: $color-white;

          &::before {
            @include compact-rounded-corners($isDark: true);
          }
        }
      }
    }
    // disabled
    &.is-disabled,
    &[disabled] {
      ~.bb-form-check-label {
        opacity: .66;
        cursor: $cursor-notallow-url;
      }
    }
  }

  .bb-form-check-label {
    margin-top: .5rem;
    margin-left: 1rem;
    cursor: $cursor-click-url;

    &:hover {
      opacity: 0.8;
    }

    > i[aria-label="checkbox"] {
      position: relative;
      width: $form-check-box-size;
      height: $form-check-box-size;
      display: inline-block;
      vertical-align: middle;

      &::before {
        content: '';
        @include compact-rounded-corners;
        width: $form-check-box-border-size;
        height: $form-check-box-border-size;
        position: absolute;
        top: 50%;
        left: $form-check-box-inner-offset-left;
        transform: translate3d(0, -50%, 0);
      }

      &::after {
        content: '';
        background-image: escape-svg(url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='16'%3E%3Cg%3E%3Cpath d='M5.001 14.999v-4h2v4Zm2-2v-4h2v4Zm-4 0v-4h2v4Zm6-2v-4h2v4Zm-8 0v-4h2v4Zm10-2v-4h2v4Zm2-2v-4h2v4Zm4-2v-4h2v4Zm-2 0v-4h2v4Z' fill='#{$dark}' /%3E%3Cpath d='M7.001 14.999v-4h-2v4h2m2-2v-4h-2v4h2m-4 0v-4h-2v4h2m6-2v-4h-2v4h2m-8 0v-4h-2v4h2m10-2v-4h-2v4h2m2-2v-4h-2v4h2m4-2v-4h-2v4h2m-2 0v-4h-2v4h2m-9 11h-4v-2h-2v-2h-2v-6h4v2h4v-2h2v-2h2v-2h2v-2h6v6h-4v2h-2v2h-2v2h-2v2h-2Z' fill='#{$white}' /%3E%3C/g%3E%3C/svg%3E"));
        background-size: 100%;
        background-repeat: no-repeat;
        width: $form-check-box-inner-width;
        height: $form-check-box-inner-height;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translate3d(0, -50%, 0) scale(0);
      }
    }

    > .bb-form-check-label-txt {
      -webkit-text-stroke: $text-stroke-bold;
      display: inline-block;
      vertical-align: middle;
      font-size: $form-check-font-size;
      padding-left: .5rem;
    }
  }

}