@mixin img-style($param) {
  $size: $param * 16;
  width: $size;
  height: $size;

  &.is-rounded {
    border-radius: 50px;
  }

  &.is-pixelated {
    -ms-interpolation-mode: nearest-neighbor;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: -moz-crisp-edges;
    image-rendering: pixelated;
  }
}

.bit-avatar {
  @include img-style(2px);

  &.is-small {
    @include img-style(1px);
  }

  &.is-medium {
    @include img-style(3px);
  }

  &.is-large {
    @include img-style(4px);
  }
}


.card-img-container {
  position: relative;
  display: block;
  width: 100%;

  &:before {
    content: '';
    padding-top: 100%;
    display: block;
  }

  .card-avastar-img {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    @include abs-align();
    width: 100%;
    height: 100%;
    @include rounded-corners;

    @each $name,
    $value in $avastars {
      &.card-avastar-img-#{$name} {
        background-image: $value;
      }
    }
  }
}