//
//  Layout -> switch 
// --------------------------------------------------
.form-switch {

  .form-check-input[type=checkbox] {
    display: none;
  }

  .form-check-label {
    position: relative;
    display: block;
    cursor: pointer;
    width: 3rem;
    max-width: 3rem;
    margin-bottom: 0;
    height: 1.5rem;
    background-color: $grey-200;
    border-radius: 5rem;

    &:after {
      content: '';
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0.25rem;
      width: 1.25rem;
      height: 1.25rem;
      background-color: $white;
      border-radius: 2rem;
      box-shadow: 0 0.1875rem 0.375rem 0 rgba(140, 152, 164, 0.24);
      transition: 0.125s all ease-in;
    }
  }

  .form-check-input {
    &:checked {

      &.disabled~.form-check-label,
      &:disabled~.form-check-label {
        cursor: $cursor-disabled;
        @include opacity(0.65);
        @include box-shadow(none);
      }

      + {

        .form-check-label,
        .form-check-input+.form-check-label {
          background: $info;
        }
      }

      + {

        .form-check-label:before,
        .form-check-input+.form-check-label:before {
          content: attr(data-yes);
          font-size: .875rem;
          font-weight: 400;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          left: 0.75rem;
          right: auto;
          color: $white;
        }

        .form-check-label:after,
        .form-check-input+.form-check-label:after {
          left: calc(100% - 0.25rem);
          transform: translate(-100%, -50%);
        }
      }
    }

    &.disabled~.form-check-label,
    &:disabled~.form-check-label {
      cursor: $cursor-disabled;
      @include opacity(0.65);
      @include box-shadow(none);
    }

    + {

      .form-check-label:before,
      .form-check-input+.form-check-label:before {
        content: attr(data-no);
        font-size: .875rem;
        font-weight: 400;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 0.75rem;
        color: $grey;
      }
    }
  }

  .form-check-input:not(:disabled) {
    .form-check-label:active:after {
      width: 3rem;
    }
  }

  &:disabled~.form-check-label {
    cursor: $cursor-disabled;
    @include opacity(0.65);
    @include box-shadow(none);
  }
}